<!doctype html>
<html lang="en"><head>
        <meta charset="utf-8">
        <title>News Feed</title>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">


        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

        <script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>

        <!--<script src="lib/jQuery-Knob/js/jquery.knob.js" type="text/javascript"></script>-->
        <script type="text/javascript">

                    function showNews(newsId) {
                        jQuery.ajax({
                            type: "POST",
                                    url: "/retrieve_news",
                                    data: "news_id=" + newsId,
                                    success: function (news) {
                                        newsTitle = news["title"];
                                        newsBody = news["body"];
                                        document.getElementById("myModalLabel").innerHTML = newsTitle;
                                        document.getElementById("myModalBody").innerHTML = newsBody;
                                        $('#myModal').modal('show');
                                    }

                            });
                    }
        </script>


        <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/premium.css">

        <style type="text/css">
            .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
                color: #fff;
            }
            .modal-content{
                width: 600px;
            }

            #myModalLabel{
                font-size: 14pt;
                font-weight: bold;
            }

            .modal-body{
                font-size: 12pt;
                overflow: auto;
                height: 500px;
            }

        </style>
    </head>
    <body class=" theme-blue">
        <script type="text/javascript">
                    $(function () {
                    var uls = $('.sidebar-nav > ul > *').clone();
                            uls.addClass('visible-xs');
                            $('#main-menu').append(uls.clone());
                    });</script>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


        <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
        <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
        <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
        <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!--> 

        <!--<![endif]-->

        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="#"><span class="navbar-brand"> News Feed</span></a></div>

            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul id="main-menu" class="nav navbar-nav navbar-right">
                    <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> <%= user.username %>
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="#">My Account</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/add_user_menu">Add User</a></li>
                            <li><a tabindex="-1" href="/view_user_menu">View Users</a></li>
                            <li><a tabindex="-1" href="/reset_password_view?user_id=<%= user.user_id %>">Change Password</a></li>
                            <li><a tabindex="-1" href="/sign_out">Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>

        <div class="sidebar-nav">
            <ul>
                <li><a href="#" data-target=".sports-news-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw"></i> Sports <i class="fa fa-collapse"></i></a></li>
                <li>
                    <ul class="sports-news-menu nav nav-list collapse in">
                        <li><a href="/add_news_menu?category=sports_news"><span class="fa fa-caret-right"></span> Add Item</a></li>
                        <li ><a href="/edit_news_menu?category=sports_news"><span class="fa fa-caret-right"></span> Edit Item</a></li>
                        <li ><a href="/void_news_menu?category=sports_news"><span class="fa fa-caret-right"></span> Void Item</a></li>
                        <li ><a href="/view_news_menu?category=sports_news"><span class="fa fa-caret-right"></span> View Items</a></li>
                    </ul>
                </li>
                
                <li><a href="#" data-target=".local-news-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw"></i> News<i class="fa fa-collapse"></i></a></li>
                <li>
                    <ul class="local-news-menu nav nav-list collapse in">
                        <li><a href="/add_news_menu?category=local_news"><span class="fa fa-caret-right"></span> Add Item</a></li>
                        <li ><a href="/edit_news_menu?category=local_news"><span class="fa fa-caret-right"></span> Edit Item</a></li>
                        <li ><a href="/void_news_menu?category=local_news"><span class="fa fa-caret-right"></span> Void Item</a></li>
                        <li ><a href="/view_news_menu?category=local_news"><span class="fa fa-caret-right"></span> View Items</a></li>
                    </ul>
                </li>
<!--
                <li><a href="#" data-target=".local-news-category-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw"></i> Local News Category<i class="fa fa-collapse"></i></a></li>
                <li>
                    <ul class="local-news-category-menu nav nav-list collapse in">
                        <li><a href="/add_category_menu?category=add_category"><span class="fa fa-caret-right"></span> Add Category</a></li>
                        <li ><a href="/edit_category_menu?category=category_menu"><span class="fa fa-caret-right"></span> Edit Category</a></li>
                        <li ><a href="/void_category_menu?category=category_menu"><span class="fa fa-caret-right"></span> Void Category</a></li>
                        <li ><a href="/view_category_menu?category=category_menu"><span class="fa fa-caret-right"></span> View Categories</a></li>
                    </ul>
                </li>
-->
            </ul>
        </div>

        <div class="content">
            <div class="header">
                <div class="stats">
                    <p class="stat"><span class="label label-info"><%= sports_count %></span> Sports News</p>
                    <p class="stat"><span class="label label-success"><%= local_count %></span> Local News</p>
                </div>

                <h1 class="page-title">Dashboard</h1>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a> </li>
                    <li class="active">Dashboard</li>
                </ul>

            </div>
            <div class="main-content">

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading no-collapse"> Sports  <span class="label label-info"><%= sports_count %></span></div>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <% for (var row in sportsNews){%>
                                    <tr>
                                        <td><%= sportsNews[row]["title"] %></td>
                                        <td style="width: 100px;"><a class="btn btn-primary" onclick="showNews(<%= sportsNews[row]['news_id'] %> );" style="float: right;">Read more »</a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading no-collapse">News<span class="label label-success"><%= local_count %></span></div>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <% for (var row in localNews){%>
                                    <tr>
                                        <td><%= localNews[row]["title"] %></td>
                                        <td style="width: 100px;"><a class="btn btn-primary" onclick="showNews(<%= localNews[row]['news_id'] %> );" style="float: right;">Read more »</a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">News</h3>
                            </div>
                            <div class="modal-body">
                                <p id='myModalBody'>Your news goes here</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal">Done</button>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <hr>
                    <p>© 2015 <a href="http://www.baobabhealth.org" target="_blank">Baobab Health Trust</a></p>
                </footer>
            </div>
        </div>


        <script src="lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">



        </script>


    </body></html>
